@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.871 0.006 286.286);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.871 0.006 286.286);

  --color-neutral-lightest: #f2f2f2;
  --color-neutral-lighter: #d9dada;
  --color-neutral-light: #b4b5b5;
  --color-neutral-base: #828484;
  --color-neutral-dark: #505352;
  --color-neutral-darker: #1e2221;
  --color-neutral-darkest: #050a09;
  --color-bright-sun-lightest: #fffaeb;
  --color-bright-sun-lighter: #fff6d8;
  --color-bright-sun-light: #ffe278;
  --color-bright-sun-base: #ffd63f;
  --color-bright-sun-dark: #ccab32;
  --color-bright-sun-darker: #665519;
  --color-bright-sun-darkest: #4c4012;
  --color-yellow-orange-lightest: #fff7ec;
  --color-yellow-orange-lighter: #ffefda;
  --color-yellow-orange-light: #ffc97e;
  --color-yellow-orange-base: #ffb347;
  --color-yellow-orange-dark: #cc8f38;
  --color-yellow-orange-darker: #66471c;
  --color-yellow-orange-darkest: #4c3515;
  --color-downy-lightest: #effaf6;
  --color-downy-lighter: #e0f5ee;
  --color-downy-light: #93dcc3;
  --color-downy-base: #66cdaa;
  --color-downy-dark: #51a488;
  --color-downy-darker: #285244;
  --color-downy-darkest: #1e3d33;
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-neutral-lightest: var(--color-neutral-lightest);
  --color-neutral-lighter: var(--color-neutral-lighter);
  --color-neutral-light: var(--color-neutral-light);
  --color-neutral-base: var(--color-neutral-base);
  --color-neutral-dark: var(--color-neutral-dark);
  --color-neutral-darker: var(--color-neutral-darker);
  --color-neutral-darkest: var(--color-neutral-darkest);
  --color-bright-sun-lightest: var(--color-bright-sun-lightest);
  --color-bright-sun-lighter: var(--color-bright-sun-lighter);
  --color-bright-sun-light: var(--color-bright-sun-light);
  --color-bright-sun-base: var(--color-bright-sun-base);
  --color-bright-sun-dark: var(--color-bright-sun-dark);
  --color-bright-sun-darker: var(--color-bright-sun-darker);
  --color-bright-sun-darkest: var(--color-bright-sun-darkest);
  --color-yellow-orange-lightest: var(--color-yellow-orange-lightest);
  --color-yellow-orange-lighter: var(--color-yellow-orange-lighter);
  --color-yellow-orange-light: var(--color-yellow-orange-light);
  --color-yellow-orange-base: var(--color-yellow-orange-base);
  --color-yellow-orange-dark: var(--color-yellow-orange-dark);
  --color-yellow-orange-darker: var(--color-yellow-orange-darker);
  --color-yellow-orange-darkest: var(--color-yellow-orange-darkest);
  --color-downy-lightest: var(--color-downy-lightest);
  --color-downy-lighter: var(--color-downy-lighter);
  --color-downy-light: var(--color-downy-light);
  --color-downy-base: var(--color-downy-base);
  --color-downy-dark: var(--color-downy-dark);
  --color-downy-darker: var(--color-downy-darker);
  --color-downy-darkest: var(--color-downy-darkest);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
